body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin-top: 120px;
}

h1 {
    font-size: 40px;
    color: white;
}

#sticker {
    font-size: 80px;
    margin: 20px;
    transition: 0.3s;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

#yesBtn {
    background-color: #ff4d88;
    color: white;
}

#noBtn {
    background-color: gray;
    color: white;
    position: relative;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* SURAT OVERLAY */
.letter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.letter {
    background: white;
    width: 600px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    animation: popUp 0.4s ease;
    max-height:90%;
    overflow:auto;
}

.letter h2 {
    color: #ff4d88;
}

.letter p {
    margin: 20px 0;
    line-height: 1.6;
    color: #444;
}

.letter button {
    background: #ff4d88;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@keyframes popUp {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#closeLetter{
    color:black;
    background: white;
    border: 1px solid #cdcdcd;

}
